[submodule "psifos-backend-op"]
	path = psifos-backend-op
	url = git@github.com:clcert/psifos-backend-op.git
[submodule "psifos-frontend"]
	path = psifos-frontend
	url = git@github.com:clcert/psifos-frontend.git
[submodule "psifos-backend-info"]
	path = psifos-backend-info
	url = git@github.com:clcert/psifos-backend-info.git
[submodule "vmn-docker"]
	path = vmn-docker
	url = git@github.com:clcert/vmn-docker.git
